<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>G3 Footwear</title>
        <script
          src="https://kit.fontawesome.com/7ea488e71c.js"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/productForm.css" />
        <link rel="stylesheet" href="/css/navAndFooter.css">
        <link rel="icon" href="/images/logo_small_black.png">
        </head>

<body>
    <%- include('../partials/header.ejs') %>
    <div>
    <form class="product-form" method="post" action="/products/createProduct" enctype="multipart/form-data">
        
        <!--titulo de la pag----->
        <h1 class="product-form-title">Añadir Producto</h1>
        
        <!--datos que se piden para el registro en cajas-------->
        <input class="box-form" type="text" placeholder="Nombre del producto" name="name" required>
        <input class="box-form" type="text" placeholder="Descripción" name="description" required>
        <div>
            <input type="file" id="files" name="image" class="hidden" multiple/>
            <label for="files">Seleccionar archivo
                <i class="fa-solid fa-camera-rotate"></i>
            </label>
        </div>
        <input class="box-form" type="text" placeholder="Talle del producto" name="size" required>
        <input class="box-form" type="text" placeholder="Categoría" name="category" required>
        <input class="box-form" type="text" placeholder="Precio original sin descuento" name="oldPrice" required>
        <input class="box-form" type="text" placeholder="Precio final" name="price"required>
        
        <!--Boton-->
        <input type="submit" class="button-form" value="Enviar"></input>
        <input type="reset" class="button-form" value="Borrar"></input>
            
        
    </form>
    <%- include('../partials/footer'); %>    
</body>
</html>