<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras - G3 Footwear</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/cart.css" />
    <link rel="stylesheet" href="css/navAndFooter.css">
    <link rel="icon" href="/images/g3-high-resolution-logo-black-on-white-background_low.png">
    <header class="header">
        <div class="container">
            
            <div class="logo">
                <a href="/"><img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt="Logo de la marca"></a>
            </div>

            <div class="btn">
                <label for="btn-menu">Menú</label>
            </div>
            
            <input type="checkbox" id="btn-menu">
            
            <nav class="menu">
                <input type="text" name="buscar" placeholder="Buscar...">
                <a href="/">Inicio</a>
                <a href="/register">Registrarse</a>
                <a href="/login">Iniciar Sesión</a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>

        </div>
    </header>
    <main>
        <section>
            <div class="cart-container">
                <!-- <label for="">Carrito</label> -->
                <div class="tab-panel">
                        <div class="item-row" >
                            <article class="item-container">
                                <div class="item-cart">
                                    <img class="offer-img" src="/images/zapas-vans-1.jpg" alt="" />
                                </div>
                                <div class="item-cart-info">
                                    <p>Zapatillas skater</p>
                                </div>
                                <div class="quantity-selector">
                                    <div class="quantity-selector-box"><p>Cantidad: 1 u</p></div>
                                </div>
                                <div class="item-price"><p class="item-price-p">$8000</p></div>
                            </article>   
                        </div>
                        <div class="line"></div>
                        <div class="item-row" >
                            <article class="item-container">
                                <div class="item-cart">
                                    <img class="offer-img" src="/images/conver-chuck70.jpg" alt="" />
                                </div>
                                <div class="item-cart-info">
                                    <p>Zapatillas chuck</p>
                                </div>
                                <div class="quantity-selector">
                                    <div class="quantity-selector-box"><p>Cantidad: 1 u</p></div>
                                </div>
                                <div class="item-price"><p class="item-price-p">$10000</p></div>
                            </article>   
                        </div>
                        <div class="line"></div>
                        <div class="item-row" >
                            <article class="item-container">
                                <div class="item-cart">
                                    <img class="offer-img" src="/images/nike-blazer.jpg" alt="" />
                                </div>
                                <div class="item-cart-info">
                                    <p>Zapatillas blazer</p>
                                </div>
                                <div class="quantity-selector">
                                    <div class="quantity-selector-box"><p>Cantidad: 1 u</p></div>
                                </div>
                                <div class="item-price"><p class="item-price-p">$7500</p></div>
                            </article>   
                        </div>
                        <div class="line"></div>
                        <div class="item-row" >
                            <article class="item-container">
                                <div class="item-cart">
                                    <img class="offer-img" src="/images/nike-jordan.jpg" alt="" />
                                </div>
                                <div class="item-cart-info">
                                    <p>Zapatillas jorda</p>
                                </div>
                                <div class="quantity-selector">
                                    <div class="quantity-selector-box"><p>Cantidad: 1 u</p></div>
                                </div>
                                <div class="item-price"><p class="item-price-p">$8000</p></div>
                            </article>   
                        </div>
                        <div class="line"></div>
                        <div class="footer-container-cart">
                            <div class="ticket-shipping">
                                <p>Envio: Av Siempre Viva 1234</p>
                                <p>Gratis</p>
                            </div>
                            <div class="ticket-total">
                                <p>Total del envío</p>
                                <p>$33500</p>
                            </div>
                            <button class="btn-buy">Comprar!</button>
                        </div>
                </div>
        
            </div>
        </section>
    </main>
    
  
    <footer>
      <div class="group-1">
          <div class="logo-footer">
              <figure>
                  <a href="/"><img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt=""></a>
              </figure>
          </div>

          <div class="box">
              <h2>Navegación</h2>
              <div class="box-nav-list">
                  <a href="/"><p>Inicio</p></a>
                  <a href="/productDetail"><p>Productos</p></a>
                  <a href="/login"><p>Inicia Sesión</p></a>
                  <a href="/register"><p>Registrarse</p></a>
              </div>
          </div>
          <div class="box">
              <h2>Contactanos</h2>
              
              <div class="contacts">
                <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
                  <a href="#"><i class="fa-solid fa-envelope"></i>Correo Electrónico</a>
                  <a href="https://www.whatsapp.com"><i class="fa-brands fa-square-whatsapp"></i>Whatsapp</a>
                  <a href="#"><i class="fa-solid fa-phone"></i>08000-111-1000</a>
              </div>
          </div>
          
          <div class="box">
              <h2>Redes Sociales</h2>
              <div class="media">
                  <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                  <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                  <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                  <a href="https://www.youtube.com" class="fa fa-youtube"></a>
              </div>
          </div>
      </div>

      <div class="grupo-2">
          <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados</small>
      </div>
  </footer>
  </body>
</html>
