<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras - G3 Footwear</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/cart.css" />
    <link rel="stylesheet" href="css/navAndFooter.css">
    <link rel="icon" href="/images/g3-high-resolution-logo-black-on-white-background_low.png">
    <header>
        <div class="header-container">
            <div class="promotional-banner">
                <h4><b>Envíos gratis</b> en compras superiores a $20.000</h4>
            </div>
            <div class="header-navbar">   
                <div class="left-navbar">
                    <div class="btn">
                        <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
                        <input type="checkbox" id="btn-menu">
                        <nav class="menu">
                            <input type="text" name="buscar" placeholder="Buscar...">
                            <a href="/">Inicio</a>
                            <hr>
                            <a href="/productDetail">Productos</a>
                            <hr>
                            <a href="/login">Iniciar Sesión</a>
                            <hr>
                            <a href="/register">Registrarse</a>
                            <hr>
                            <a href="/productCart">Carrito</a>
                            <hr>
                        </nav>
                    </div>
                </div> 
                <div class="center-navbar">
                    <div class="header-logo">
                        <a href="#">
                            <img src="/images/logo_small.png" alt="">
                        </a>
                    </div>
                </div>  
                <div class="right-navbar">
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section>
            <h1 class="cart-title"><i class="fa-solid fa-cart-arrow-down"></i>Carrito</h1>
            
            <div class="cart-container">
                <!-- <label for="">Carrito</label> -->
                <div class="tab-panel">
                        <div class="item-row">
                            <article class="item-container">
                                <div class="item-cart">
                                    <img class="offer-img" src="/images/zapas-vans-1.jpg" alt="" />
                                </div>
                                <div class="item-cart-info">
                                    <p class="product-name">ZAPATILLAS SKATER</p>
                                </div>
                                <div class="add-item">
                                    <p class="add-item-text"><i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i></p>
                                </div>
                                <div class="quantity-selector">
                                    <div class="quantity-selector-box"><p class="quantity-text">Cantidad: 1</p></div>
                                </div>
                                <div class="item-price"><p class="item-price-p">$8000</p></div>
                                <div class="item-remove"><p class="item-remove-text"><a href="#">Eliminar</a></p></div>
                            </article>   
                        </div>
                        <div class="line"></div>
                        <div class="item-row" >
                            <article class="item-container">
                                <div class="item-cart">
                                    <img class="offer-img" src="/images/conver-chuck70.jpg" alt="" />
                                </div>
                                <div class="item-cart-info">
                                    <p class="product-name">ZAPATILLAS CHUCK</p>
                                </div>
                                <div class="add-item">
                                    <p class="add-item-text"><i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i></p>
                                </div>
                                <div class="quantity-selector">
                                    <div class="quantity-selector-box"><p class="quantity-text">Cantidad: 1</p></div>
                                </div>
                                <div class="item-price"><p class="item-price-p">$10000</p></div>
                                <div class="item-remove"><p class="item-remove-text"><a href="#">Eliminar</a></p></div>
                            </article>   
                        </div>
                        <div class="line"></div>
                        <div class="item-row" >
                            <article class="item-container">
                                <div class="item-cart">
                                    <img class="offer-img" src="/images/nike-blazer.jpg" alt="" />
                                </div>
                                <div class="item-cart-info">
                                    <p class="product-name">ZAPATILLAS BLAZER</p>
                                </div>
                                <div class="add-item">
                                    <p class="add-item-text"><i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i></p>
                                </div>
                                <div class="quantity-selector">
                                    <div class="quantity-selector-box"><p class="quantity-text">Cantidad: 1</p></div>
                                </div>
                                <div class="item-price"><p class="item-price-p">$7500</p></div>
                                <div class="item-remove"><p class="item-remove-text"><a href="#">Eliminar</a></p></div>
                            </article>   
                        </div>
                        <div class="line"></div>
                        <div class="item-row" >
                            <article class="item-container">
                                <div class="item-cart">
                                    <img class="offer-img" src="/images/nike-jordan.jpg" alt="" />
                                </div>
                                <div class="item-cart-info">
                                    <p class="product-name">ZAPATILLAS JORDAN</p>
                                </div>
                                <div class="add-item">
                                    <p class="add-item-text"><i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i></p>
                                </div>
                                <div class="quantity-selector">
                                    <div class="quantity-selector-box"><p class="quantity-text">Cantidad: 1</p></div>
                                </div>
                                <div class="item-price"><p class="item-price-p">$8000</p></div>
                                <div class="item-remove"><p class="item-remove-text"><a href="#">Eliminar</a></p></div>
                            </article>   
                        </div>
                        <div class="line"></div>
                        <div class="footer-container-cart">
                            <div class="ticket-shipping">
                                <p class="shipping-text">Envío: AV. SIEMPRE VIVA 1234</p>
                                <p class="free-shipping-text">Gratis</p>
                            </div>
                            <div class="ticket-total">
                                <p class="total-text">Total</p>
                                <p class="total-price">$33500</p>
                            </div>
                            <div class="button-container">
                            <button class="btn-buy"><a href="/">Comprar</a></button>
                            <button class="btn-back"><a href="/productDetail">Volver</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer class="footer-section">
        <div class="group-1">
            
            <div class="box">
                <h2>Navegación</h2>
                <div class="box-nav-list">
                    <a href="/"><p>Inicio</p></a>
                    <a href="/productDetail"><p>Productos</p></a>
                    <a href="/login"><p>Inicia Sesión</p></a>
                    <a href="/register"><p>Registrarse</p></a>
                </div>
            </div>

            <hr>

            <div class="box">
                <h2>Contactanos</h2>
                <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
                <div class="contacts">
                    <a href="#">Correo Electrónico<i class="fa-solid fa-envelope"></i></a>
                    <a href="https://www.whatsapp.com">Whatsapp<i class="fa-brands fa-square-whatsapp"></i></a>
                    <a href="#">08000-111-1000<i class="fa-solid fa-phone"></i></a>
                </div>
            </div>
            
            <hr>
            
            <div class="box">
                <h2>Seguinos</h2>
                <div class="media">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>

        <hr>

        <div class="group-2">
            <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados. Las fotos contenidas en este sitio, el logotipo y las marcas son propiedad de www.wolfargentinadh.com.ar y/o de sus respectivos titulares.</small>
        </div>
    </footer>
  </body>
</html>
