<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hermes</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/navAndFooter.css">
    <header class="header">
      <header class="header">
        
        <div class="container">
            
            <div class="logo">
                <img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt="Logo de la marca">
            </div>

            <div class="btn">
                <label for="btn-menu">Menú</label>
            </div>
            
            <input type="checkbox" id="btn-menu">
            
            <nav class="menu">
                <input type="text" name="buscar" placeholder="Buscar...">
                <a href="/">Inicio</a>
                <a href="/register">Registrarse</a>
                <a href="/login">Iniciar Sesión</a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>

        </div>
    </header> 

  </header>
    <main>
      <section>
        <div>
          <h1>Más que zapatillas</h1>
          <p>
            Reinventar el juego y hacer historia es solo el comienzo. El futuro
            está acá. Reinventalo.
          </p>
        </div>

        <div class="main-img">
          <img class="come-run-img" src="/images/run.jpg" alt="" />
        </div>
      </section>
      <section>
        <div>
          <p>Seguí entrenando y corriendo</p>
          <div class="main-img">
            <img class="come-run-img" src="/images/aireshoes.jpg" alt="" />
          </div>
          <p>Últimos lanzamientos</p>
          <div class="main-img">
            <img
              class="come-run-img"
              src="/images/wengang-zhai-_fOL6ebfECQ-unsplash.jpg"
              alt=""
            />
          </div>
        </div>
      </section>
      <section>
        <h4>Ofertas</h4>
        <div class="container-offer">
          <div class="offer-article">
            <img class="offer-img" src="/images/zapas-vans-1.jpg" alt="" />
            <p>Zapatillas skater</p>
            <p>$8000</p>
            <p class="border-text">40%</p>
          </div>
          <div class="offer-article">
            <img class="offer-img" src="/images/conver-chuck70.jpg" alt="" />
            <p>Zapatillas skater</p>
            <p>$8000</p>
            <p>40%</p>
          </div>
          <div class="offer-article">
            <img class="offer-img" src="/images/nike-blazer.jpg" alt="" />
            <p>Zapatillas skater</p>
            <p>$8000</p>
            <p>40%</p>
          </div>
          <div class="offer-article">
            <img class="offer-img" src="/images/nike-jordan.jpg" alt="" />
            <p>Zapatillas skater</p>
            <p>$8000</p>
            <p>40%</p>
          </div>
          <div class="offer-article">
            <img class="offer-img" src="/images/zapas-vans-1.jpg" alt="" />
            <p>Zapatillas skater</p>
            <p>$8000</p>
            <p>40%</p>
          </div>
          <div class="offer-article">
            <img class="offer-img" src="/images/adidas-forum.jpg" alt="" />
            <p>Zapatillas skater</p>
            <p>$8000</p>
            <p>40%</p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="group-1">
          <div class="logo-footer">
              <figure>
                  <a href=""><img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt=""></a>
              </figure>
          </div>

          <div class="box">
              <h2>Navegación</h2>
              <div class="box-nav-list">
                  <a href="/"><p>Inicio</p></a>
                  <a href="/productDetail"><p>Productos</p></a>
                  <a href="/login"><p>Inicia Sesión</p></a>
                  <a href="/register"><p>Registrarse</p></a>
              </div>
          </div>
          <div class="box">
              <h2>Contactanos</h2>
              <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
              <div class="contacts">
                  <a href="#"><i class="fa-solid fa-envelope"></i>Correo Electrónico</a>
                  <a href="https://www.whatsapp.com"><i class="fa-brands fa-square-whatsapp"></i>Whatsapp</a>
                  <a href="#"><i class="fa-solid fa-phone"></i>08000-111-1000</a>
              </div>
          </div>
          
          <div class="box">
              <h2>Redes Sociales</h2>
              <div class="media">
                  <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                  <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                  <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                  <a href="https://www.youtube.com" class="fa fa-youtube"></a>
              </div>
          </div>
      </div>

      <div class="grupo-2">
          <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados</small>
      </div>
  </footer>
  </body>
</html>
