<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>G3 Footwear</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/navAndFooter.css">
    <link rel="icon" href="/images/g3-high-resolution-logo-black-on-white-background_low.png">
    </head>

    <header class="header">        
        <div class="container">
            <div class="logo">
                <img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt="Logo de la marca">
            </div>
            <div class="btn">
                <label for="btn-menu">Menú</label>
            </div>
            <input type="checkbox" id="btn-menu">
            
            <nav class="menu">
                <input type="text" name="buscar" placeholder="Buscar...">
                <a href="/">Inicio</a>
                <a href="/register">Registrarse</a>
                <a href="/login">Iniciar Sesión</a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        </div>
  </header>
    <main>
      <section>
        <div class="banner-container">
          <img src="/images/banner.jpg" alt="banner" class="img-banner">
        <div class="banner-text-container"><h1 class="banner-text">BIENVENIDO A G3 FOOTWEAR</h1></div>
        </div>
      </section>

      <section>
        <h2 class="section-title">LO QUE MARCA TENDENCIA</h2>
        <div class="container-articles-1">
          <div class="article">
            <img class="article-img" src="/images/zapas-vans-1.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/conver-chuck70.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/nike-blazer.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/nike-jordan.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/zapas-vans-1.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/adidas-forum.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">SI BUSCAS DESCUENTOS</h2>
        <div class="container-articles-2">
          <div class="article">
            <img class="article-img" src="/images/zapas-vans-1.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/conver-chuck70.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/nike-blazer.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/nike-jordan.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/zapas-vans-1.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/adidas-forum.jpg" alt="" />
            <p class="article-name">ZAPATILLAS SKATER</p>
            <p>$8000</p>
            <p class="discount">40% OFF</p>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">NUESTRAS COLECCIONES</h2>
        <div class="collections-father">
          <div class="collection-first">
          <img src="/images/collection1.png" alt="collection1" class="collection-img"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button1"></a>
          </div>
          <div class="collection-second">
          <img src="/images/collection2.png" alt="collection2" class="collection-img"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button1"></a>
          </div>
          <div class="collection-third">
          <img src="/images/collection3.png" alt="collection3" class="collection-img-2"></a>
          <a href="#"></a><input type="button" value="Ver todos" class="view-all-button2"></a>
          </div>
          <div class="collection-fourth">
          <img src="/images/collection4.png" alt="collection4" class="collection-img-2"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button2"></a>
          </div>
        </div>
      </section>

      <section>
        <div class="shipping-container">
          <a href="/register"><img src="/images/prueba-ultima-imagen.png" alt="banner-shipping" class="banner-shipping"></a>
        </div>
      </section>

    </main>
    <footer>
      <div class="group-1">
          <div class="logo-footer">
              <figure>
                  <a href="/"><img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt=""></a>
              </figure>
          </div>

          <div class="box">
              <h2>Navegación</h2>
              <div class="box-nav-list">
                  <a href="/"><p>Inicio</p></a>
                  <a href="/productDetail"><p>Productos</p></a>
                  <a href="/login"><p>Inicia Sesión</p></a>
                  <a href="/register"><p>Registrarse</p></a>
              </div>
          </div>
          <div class="box">
              <h2>Contactanos</h2>
              
              <div class="contacts">
                <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
                  <a href="#"><i class="fa-solid fa-envelope"></i>Correo Electrónico</a>
                  <a href="https://www.whatsapp.com"><i class="fa-brands fa-square-whatsapp"></i>Whatsapp</a>
                  <a href="#"><i class="fa-solid fa-phone"></i>08000-111-1000</a>
              </div>
          </div>
          
          <div class="box">
              <h2>Redes Sociales</h2>
              <div class="media">
                  <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                  <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                  <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                  <a href="https://www.youtube.com" class="fa fa-youtube"></a>
              </div>
          </div>
      </div>

      <div class="grupo-2">
          <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados</small>
      </div>
  </footer>
  </body>
</html>
