<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Tienda</title>
    <script src="https://kit.fontawesome.com/7ea488e71c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/nav-styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="top-header">
                <div class="burger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="logo">
                    <img src="/images/logo.png" alt="logo">
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-user"></i>
                    <a href="/views/cart.html"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="button-header">
                <div class="glass-search"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="placeholder-search">
                    <form class="nav-search" action="/views/home.html" method="GET">
                        <input type="text" class="nav-search-input" placeholder="Busco productos ">
                    </form>
                </div>
            </div>
            
            <div class="horizontal-menu">
                <ul class="list">
                    <li type="none"><a href="#">Inicio</a></li>
                    <li type="none"><a href="#">Ofertas</a></li>
                    <li type="none"><a href="#">Inicia sesión</a></li>
                    <li type="none"><a href="#">Registrate</a></li>
                </ul>
            </div>
            
           
        </nav>
        <div>
            
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>