<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión - G3 Footwear</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/navAndFooter.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="icon" href="/images/logo_small_black.png">
  </head>
  <body>
    
    <%- include('./partials/header.ejs') %>

    <main>
      <div class="login-form-container">
        <h2 class="login-text">Iniciar sesión</h2>
        <form action="/" method="GET">
          <input
            type="text"
            name="username"
            placeholder="Ingresa tu nombre de usuario"
            id="input-login"
            required
          />

          <input
            type="password"
            name="password"
            placeholder="Ingresa tu contraseña"
            id="input-login"
            required/>
          <a class="link-login-form" href="/"
            ><button type="submit" id="button-login">Enviar</button></a>
        </form>
        <p class="forgot-password"><a class="link-login-form" href="#">¿Olvidaste tu contraseña?</a></p>

        <h3 class="login-with">También podés iniciar sesión con:</h3>

        <div class="social-media-login-father">
          <i class="fa fa-facebook" id="login-facebook"></i>
          <i class="fa fa-instagram" id="login-instagram"></i>
          <i class="fa fa-twitter" id="login-twitter"></i>
          <i class="fa fa-google" id="login-google"></i>
        </div>

        <p class="register-text">
          Sos nuevo? <a class="link-login-form" href="/register">Registrate aquí</a>
        </p>
      </div>
    </main>
  </body>
  <footer class="footer-section">
    <div class="group-1">
        
        <div class="box">
            <h2>Navegación</h2>
            <div class="box-nav-list">
                <a href="/"><p>Inicio</p></a>
                <a href="/productDetail"><p>Productos</p></a>
                <a href="/login"><p>Inicia Sesión</p></a>
                <a href="/register"><p>Registrarse</p></a>
            </div>
        </div>

        <hr>

        <div class="box">
            <h2>Contactanos</h2>
            <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
            <div class="contacts">
                <a href="#">Correo Electrónico<i class="fa-solid fa-envelope"></i></a>
                <a href="https://www.whatsapp.com">Whatsapp<i class="fa-brands fa-square-whatsapp"></i></a>
                <a href="#">08000-111-1000<i class="fa-solid fa-phone"></i></a>
            </div>
        </div>
        
        <hr>
        
        <div class="box">
            <h2>Seguinos</h2>
            <div class="media">
                <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>

    <hr>

    <div class="group-2">
        <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados. Las fotos contenidas en este sitio, el logotipo y las marcas son propiedad de www.wolfargentinadh.com.ar y/o de sus respectivos titulares.</small>
    </div>
</footer>
</html>
