<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Tienda</title>
    <script src="https://kit.fontawesome.com/7ea488e71c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/navAndFooter.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header class="header">
        <div class="container">  
            <div class="logo">
                <img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt="Logo de la marca">
            </div>
            <div class="btn">
                <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
            </div>   
            <input type="checkbox" id="btn-menu"> 
            <nav class="menu">
                <input type="text" name="buscar" placeholder="Buscar...">
                <a href="/">Inicio</a>
                <a href="/register">Registrarse</a>
                <a href="/login">Iniciar Sesión</a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        </div>
    </header>

    <main>
        <div class="login-form-container">
        <h2 class="login-text">Iniciar sesión</h2>
        <form action="/" method="GET">
            <input type="text" name="username" placeholder="Ingresa tu nombre de usuario" id="input-login" required>
                  
            <input type="password" name="password" placeholder="Ingresa tu contraseña" id="input-login" required>
            <a href="/"><button type="submit" id="button-login">Enviar</button></a>
            </form>
            <p class="forgot-password"><a href="#">¿Olvidaste tu contraseña?</a></p>

            <h3 class="login-with">También podés iniciar sesión con:</h3>

            <div class="social-media-login-father">

                <i class="fa fa-facebook" id="login-facebook"></i>
                <i class="fa fa-instagram" id="login-instagram"></i>
                <i class="fa fa-twitter" id="login-twitter"></i>
                <i class="fa fa-google" id="login-google"></i>
            </div>

            <p class="register-text">Sos nuevo? <a href="/register">Registrate aquí</a></p>
        </div>
          </main>

        <footer>
            <div class="group-1">
                <div class="logo-footer">
                    <figure>
                        <a href="/"><img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt=""></a>
                    </figure>
                </div>
      
                <div class="box">
                    <h2>Navegación</h2>
                    <div class="box-nav-list">
                        <a href="/"><p>Inicio</p></a>
                        <a href="/productDetail"><p>Productos</p></a>
                        <a href="/login"><p>Inicia Sesión</p></a>
                        <a href="/register"><p>Registrarse</p></a>
                    </div>
                </div>
                <div class="box">
                    <h2>Contactanos</h2>
                    <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
                    <div class="contacts">
                        <a href="#"><i class="fa-solid fa-envelope"></i>Correo Electrónico</a>
                        <a href="https://www.whatsapp.com"><i class="fa-brands fa-square-whatsapp"></i>Whatsapp</a>
                        <a href="#"><i class="fa-solid fa-phone"></i>08000-111-1000</a>
                    </div>
                </div>
                
                <div class="box">
                    <h2>Redes Sociales</h2>
                    <div class="media">
                        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                        <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                        <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
      
            <div class="grupo-2">
                <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados</small>
            </div>
        </footer>
    </body>
</html>