<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión - G3 Footwear</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/navAndFooter.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="icon" href="/images/logo_small_black.png">
  </head>
  <body>
    <header>
      <div class="header-container">
          <div class="promotional-banner">
              <h4><b>Envíos gratis</b> en compras superiores a $20.000</h4>
          </div>
          <div class="header-navbar"> 
              <div class="left-navbar">
                  <div class="btn">
                      <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
                      <input type="checkbox" id="btn-menu">
                      <nav class="menu">
                          <input type="text" name="buscar" placeholder="Buscar...">
                          <a href="/">Inicio</a>
                          <hr>
                          <a href="/productDetail">Productos</a>
                          <hr>
                          <a href="/login">Iniciar Sesión</a>
                          <hr>
                          <a href="/register">Registrarse</a>
                          <hr>
                          <a href="/productCart">Carrito</a>
                          <hr>
                      </nav>
                  </div>
              </div>
              <div class="center-navbar">
                  <div class="header-logo">
                      <a href="/">
                          <img src="/images/logo_small.png" alt="">
                      </a>
                  </div>
              </div>  
              <div class="right-navbar">                  
                  <div class="search-bar">
                      <input type="text" placeholder="Buscar productos, marcas...">
                      <a href="/">
                          <i class="fa-solid fa-magnifying-glass"></i>
                      </a>
                  </div>
              </div>    
          </div> 
      </div>
  </header>
    <main>
      <div class="login-form-container">
        <h2 class="login-text">Iniciar sesión</h2>
        <form action="/" method="GET">
          <input
            type="text"
            name="username"
            placeholder="Ingresa tu nombre de usuario"
            id="input-login"
            required
          />

          <input
            type="password"
            name="password"
            placeholder="Ingresa tu contraseña"
            id="input-login"
            required/>
          <a class="link-login-form" href="/"
            ><button type="submit" id="button-login">Enviar</button></a>
        </form>
        <p class="forgot-password"><a class="link-login-form" href="#">¿Olvidaste tu contraseña?</a></p>

        <h3 class="login-with">También podés iniciar sesión con:</h3>

        <div class="social-media-login-father">
          <i class="fa fa-facebook" id="login-facebook"></i>
          <i class="fa fa-instagram" id="login-instagram"></i>
          <i class="fa fa-twitter" id="login-twitter"></i>
          <i class="fa fa-google" id="login-google"></i>
        </div>

        <p class="register-text">
          Sos nuevo? <a class="link-login-form" href="/register">Registrate aquí</a>
        </p>
      </div>
    </main>
    <%- include('./footer'); %>
  </body>
</html>
