<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7ea488e71c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navAndFooter.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="promotional-banner">
                <h4><b>Envíos gratis</b> en compras superiores a $20.000</h4>
            </div>

            <div class="header-navbar">
                
                <div class="left-navbar">
                    <div class="btn">
                        <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
                        <input type="checkbox" id="btn-menu">

                        <nav class="menu">
                            <input type="text" name="buscar" placeholder="Buscar...">
                            <a href="/">Inicio</a>
                            <hr>
                            <a href="/productDetail">Productos</a>
                            <hr>
                            <a href="/register">Iniciar Sesión</a>
                            <hr>
                            <a href="/login">Registrarse</a>
                            <hr>
                            <a href="/productCart">Carrito</a>
                            <hr>
                        </nav>
                    </div>
                </div>
                
                <div class="center-navbar">
                    <div class="header-logo">
                        <a href="#">
                            <img src="/images/logo_small.png" alt="">
                        </a>
                    </div>
                </div>  

                <div class="right-navbar">
                    

                    <div class="search-bar">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                    
                </div>    
                
            </div> 
        
        </div>
    </header>

    <main class="main-section">
        <div class="main-container">
            <div class="product-content">
                <div class="top--main">
                
                    <section class="left">
                        <div class="images-container">
                            <div class="main-product-image">
                                <img src="/images/zapas-vans-2.jpg" alt="">
                            </div>

                            <div class="main-product-image2">
                                <img src="/images/zapas-vans-1.jpg" alt="">
                            </div>
                        </div>
                
                        <div class="images-container2">    
                            <div class="main-product-image3">
                                <img src="/images/zapas-vans-5.jpg" alt="">
                            </div>

                            <div class="main-product-image4">
                                <img src="/images/zapas-vans-6.jpg" alt="">
                            </div>
                        </div> 
                        

                        <div class="images-container3">    
                            <div class="main-product-image-small">
                                <img src="/images/zapas-vans-3.jpg" alt="">
                            </div>
        
                            <div class="main-product-image-small">
                                <img src="/images/zapas-vans-4.jpg" alt="">
                            </div>
        
                            <div class="main-product-image-small">
                                <img src="/images/zapas-vans-7.jpg" alt="">
                            </div>
        
                            <div class="main-product-image-small">
                                <img src="/images/zapas-vans-8.jpg" alt="">
                            </div>
                        </div> 
                    </section>
            <section class="right">
                <div class="row-path">
                    <a href="#">INICIO /</a>
                    <a href="#">CALZADO /</a>
                    <a href="#">VANS OLD SKOOL</a>
                </div>

                <div class="main-product-name">
                    <h1>ZAPATILLAS VANS OLD SKOOL</h1>
                </div>

                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.5(21)</span>
                </div>


                <div class="main-product-prices">
                    <div class="main-product-oldPrice">
                        <p>$28.500</p>
                    </div>
                    
                    <div class="main-product-newPrice">
                        <p>$25.000</p>
                    </div>
                </div>
                

                <div class="payments">
                    <p>O en hasta 3 cuotas sin interés de $8.333,33</p>
                </div>

                <hr>

                <div class="product-size">
                    <form class="size" action="" method="POST">
                        
                        <select class="size-selector-box" name="talle">
                            <option disabled selected>Seleccioná un talle</option>
                            <option value="talle">35</option>
                            <option value="talle">36</option>
                            <option value="talle">36,5</option>
                            <option value="talle">37</option>
                            <option value="talle">38</option>
                            <option value="talle">38,5</option>
                            <option value="talle">39,5</option>
                            <option value="talle">40</option>
                            <option value="talle">40,5</option>
                            <option value="talle">41</option>
                            <option value="talle">41,5</option>
                            <option value="talle">42</option>
                            <option value="talle">43</option>
                            <option value="talle">43,5</option>
                            <option value="talle">44</option>
                        </select>
                    </form> 
                </div>


                <div class="product-quantity">
                    <p>Cantidad: </p>
                    <input class="quantity-counter" type="number" min="1" max="10" value="1">
                </div>

                <hr>

                <div class="product-detail">
                   <p>Detalle de producto</p>
                </div>
                

                <div class="product-description">
                    <p>De vuelta con una nueva combinación de colores para la nueva temporada, las Vans Old Skool son un clásico ya probado. Diseñado para manejar cualquier situación que le depare el día, asegurate de tener tu par en G3 hoy. Hasta agotar stock.</p>
                </div>


                <div class="add-to-cart">
                    <button>
                        <p>AÑADIR AL CARRITO</p>
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </section>
        </div>

        
                <div class="purchase-benefits">
                    <div class="shipping">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p><strong class="bold">Envíos gratis</strong> a partir de $20.000</p>
                    </div>
                    
                    <hr>
    
                    <div class="cards">
                        <i class="fa-solid fa-credit-card"></i>
                        <p>Tres cuotas <strong class="bold">sin interés</strong></p>
                    </div>
    
                    <hr>
    
                    <div class="returns">
                        <i class="fa-solid fa-rotate-left"></i>
                        <p>Primer cambio o devolución <strong class="bold">gratis</strong></p>
                    </div>
                </div>


                <div class="purchase-benefits-text">
                    <div class="shipping-description">
                        <p>Actualmente contamos con envío a domicilio a través de Andreani (Capital y GBA), el cual demora entre 6 a 11 días hábiles y Ocasa para el resto del país entre los 15 y 20 días y con puntos de retiro PICKIT entre los 7 a 10 días hábiles (vas a recibir un mail cuando puedas retirar tu compra)</p>
                    </div>

                    <div class="cards-description">
                        <div class="credit-cards">
                            <img src="./images/visa-credit.svg" alt="">
                            <img src="./images/mastercard-card.svg" alt="">
                            <img src="./images/naranja-card.svg" alt="">
                            <img src="./images/american-express-card.svg" alt="">
                        </div>
        
                        <div class="debit-cards">
                            <img src="./images/visa-debit.svg" alt="">
                            <img src="./images/mastercard-debit.svg" alt="">
                            <img src="./images/cabal-debit.svg" alt="">
                        </div>
                    </div>

                    <div class="returns-description">
                        <p>Vas a poder hacer cambios si el talle no te queda o el producto no te gusta. Los costos de retiro y reenvío del nuevo par estarán a cargo nuestro. Tené en cuenta que no deben haber pasado más de 30 días desde que recibiste el producto y que tenés que devolverlo en perfectas condiciones, sin signos de uso y en su caja original.</p>
                    </div>


                </div>
                
    
                
                <section class="bottom-main">
                    
                    <div class="featured-products">
                        <h2>Productos destacados</h2>
                    </div>
            

                    <div class="bottom-main-1">
                    <div class="featured-products-images">
                        <div class="bottom-img">
                            <img src="/images/adidas-forum.jpg" alt="primera imagen destacada">
                            <a href="#"><p class="bottom-product-name">ADIDAS FORUM MID</p></a>
                            <span>$35.000</span>
                        </div>
                        <div class="bottom-img">
                            <img src="/images/nike-jordan.jpg" alt="segunda imagen destacada">
                            <a href="#"><p class="bottom-product-name">NIKE AIR JORDAN 1 RETRO HI OG "YELLOW TOE"</p></a>
                            <span>$42.500</span>
                        </div>
                    </div>
                    
                    <div class="bottom-product-price">
                        <p class="bottom-product-price">$35.000</p>
                        <p class="bottom-product-price">$42.500</p>
                    </div>


                    <div class="featured-products-images">
                        <div class="bottom-img">
                            <img src="/images/conver-chuck70.jpg" alt="tercer imagen destacada">
                            <a href="#"><p class="bottom-product-name">CONVERSE CHUCK 70 LOW TONAL POLYESTER</p></a>
                            <span>$32.500</span>
                        </div>
                        <div class="bottom-img">
                            <img src="/images/nike-blazer.jpg" alt="cuarta imagen destacada">
                            <a href="#"><p class="bottom-product-name">NIKE BLAZER LOW '77 JUMBO</p></a>
                            <span>$29.000</span>
                        </div>
                    </div>

                    <div class="bottom-product-price">
                        <p class="bottom-product-price">$32.500</p>
                        <p class="bottom-product-price">$29.000</p>
                    </div>
                </div>

                <div class="bottom-main-1">
                    <div class="featured-products-images">
                        <div class="bottom-img">
                            <img src="/images/puma-zapas.jpg" alt="quinta imagen destacada">
                            <a href="#"><p class="bottom-product-name">PUMA SUEDE CLASSIC XXI</p></a>
                            <span>$28.000</span>
                        </div>
                        <div class="bottom-img">
                            <img src="/images/saucony-zapas.jpg" alt="sexta imagen destacada">
                            <a href="#"><p class="bottom-product-name">SAUCONY SHADOW 6000</p></a>
                            <span>$32.000</span>
                        </div>
                    </div>

                    <div class="bottom-product-price">
                        <p class="bottom-product-price">$28.000</p>
                        <p class="bottom-product-price">$32.000</p>
                    </div>
                

                    <div class="featured-products-images">
                        <div class="bottom-img">
                            <img src="/images/puma-slipstream.jpg" alt="quinta imagen destacada">
                            <a href="#"><p class="bottom-product-name">PUMA SLIPSTREAM</p></a>
                            <span>$30.000</span>
                        </div>
                        <div class="bottom-img">
                            <img src="/images/reebok-question-low.avif" alt="sexta imagen destacada">
                            <a href="#"><p class="bottom-product-name">REEBOK QUESTION LOW</p></a>
                            <span>$31.000</span>
                        </div>
                    </div>

                    <div class="bottom-product-price">
                        <p class="bottom-product-price">$30.000</p>
                        <p class="bottom-product-price">$31.000</p>
                    </div>
                </div>

                <div class="bottom-main-1 bottom-main-hidden">
                    <div class="featured-products-images">
                        <div class="bottom-img">
                            <img src="/images/reebok-zapas.jpg" alt="quinta imagen destacada">
                            <a href="#"><p class="bottom-product-name">REEBOK CLUB C 85</p></a>
                            <span>$28.000</span>
                        </div>
                        <div class="bottom-img">
                            <img src="/images/nike-air-max.avif" alt="sexta imagen destacada">
                            <a href="#"><p class="bottom-product-name">NIKE AIR MAX TW</p></a>
                            <span>$34.000</span>
                        </div>
                    </div>

                    <div class="bottom-product-price">
                        <p class="bottom-product-price">$28.000</p>
                        <p class="bottom-product-price">$32.000</p>
                    </div>
                

                    <div class="featured-products-images">
                        <div class="bottom-img">
                            <img src="/images/asics-shoes.avif" alt="quinta imagen destacada">
                            <a href="#"><p class="bottom-product-name">ASICS GEL-QUANTUM 180 VII</p></a>
                            <span>$29.000</span>
                        </div>
                        <div class="bottom-img">
                            <img src="/images/Adidas-NMDV3.avif" alt="sexta imagen destacada">
                            <a href="#"><p class="bottom-product-name">ADIDAS NMD_V3</p></a>
                            <span>$37.000</span>
                        </div>
                    </div>

                    <div class="bottom-product-price">
                        <p class="bottom-product-price">$28.000</p>
                        <p class="bottom-product-price">$37.000</p>
                    </div>
                </div>
                </section>
                
             
            </div>
        </div>
    </main>


    <footer class="footer-section">
        <div class="group-1">
            
            <div class="box">
                <h2>Navegación</h2>
                <div class="box-nav-list">
                    <a href="/"><p>Inicio</p></a>
                    <a href="/productDetail"><p>Productos</p></a>
                    <a href="/login"><p>Inicia Sesión</p></a>
                    <a href="/register"><p>Registrarse</p></a>
                </div>
            </div>

            <hr>

            <div class="box">
                <h2>Contactanos</h2>
                <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
                <div class="contacts">
                    <a href="#">Correo Electrónico<i class="fa-solid fa-envelope"></i></a>
                    <a href="https://www.whatsapp.com">Whatsapp<i class="fa-brands fa-square-whatsapp"></i></a>
                    <a href="#">08000-111-1000<i class="fa-solid fa-phone"></i></a>
                </div>
            </div>
            
            <hr>
            
            <div class="box">
                <h2>Seguinos</h2>
                <div class="media">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>

        <hr>

        <div class="group-2">
            <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados. Las fotos contenidas en este sitio, el logotipo y las marcas son propiedad de www.wolfargentinadh.com.ar y/o de sus respectivos titulares.</small>
        </div>
    </footer>
</body>
</html>