<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7ea488e71c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        
        <div class="container">
            
            <div class="logo">
                <img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt="Logo de la marca">
            </div>

            <div class="btn">
                <label for="btn-menu">Menú</label>
            </div>
            
            <input type="checkbox" id="btn-menu">
            
            <nav class="menu">
                <input type="text" name="buscar" placeholder="Buscar...">
                <a href="/">Inicio</a>
                <a href="/register">Registrarse</a>
                <a href="/login">Iniciar Sesión</a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>

        </div>
    </header>  
    
    <main>

        <div class="top-main">
            <div class="left">
                <div class="top-images">
                    <div class="small-img">
                        <img src="/images/zapas-vans-2.jpg" alt="segunda imagen Vans">
                    </div>
                    <div class="small-img">
                        <img src="/images/zapas-vans-3.jpg" alt="tercer imagen Vans">
                    </div>
                    <div class="small-img">
                        <img src="/images/zapas-vans-5.jpg" alt="quinta imagen Vans">
                    </div>
                    <div class="small-img">
                        <img src="/images/zapas-vans-6.jpg" alt="sexta imagen Vans">
                    </div>
                </div>
                
                
                
                
            </div>
                <div class="center">
                    <div class="big-img">
                        <img class="main-vans-shoes" src="/images/zapas-vans-1.jpg" alt="imagen principal Vans"> 
                </div>  
            </div> 
            <div class="right">
                
                <div class="category">Home > Calzado</div>
                
                <div class="product-name">Zapatillas Vans Old Skool</div>

                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.7(21)</span>
                </div>
                
                <div class="price">$25.000</div>
                
                <div class="payments">O en hasta 3 cuotas sin interés de $8.333,33</div>
                

                <div class="size">
                    <form class="size" action="" method="POST">
                        <label class="size-selector">Seleccione un talle:</label>
                        <select class="size-selector-box" name="talle">
                            <option value="talle">35</option>
                            <option value="talle">36</option>
                            <option value="talle">36,5</option>
                            <option value="talle">37</option>
                            <option value="talle">38</option>
                            <option value="talle">38,5</option>
                            <option value="talle">39,5</option>
                            <option value="talle">40</option>
                            <option value="talle">40,5</option>
                            <option value="talle">41</option>
                            <option value="talle">41,5</option>
                            <option value="talle">42</option>
                            <option value="talle">43</option>
                            <option value="talle">43,5</option>
                            <option value="talle">44</option>
                        </select>
                    </form> 
                </div>
                
                <div class="product-detail">Detalle de producto</div>
                
                <div class="description">
                    <p>De vuelta con una nueva combinación de colores para la nueva temporada, las Vans Old Skool son un clásico ya probado. Diseñado para manejar cualquier situación que le depare el día, asegurate de tener tu par en G3 hoy. Hasta agotar stock.</p>
                </div>
                
                <div class="quantity">
                    <p>Cantidad: </p>
                    <input class="quantity-counter" type="number" min="1" max="10" value="1">
                </div>
                
                <div class="add-to-cart"><button>Añadir al carrito ⮕</button></div>
            </div>

        </div>

        <div class="bottom-main">
            <div class="featured-products">Productos destacados</div>
        </div>

        <div class="featured-products-images">
            <div class="bottom-img">
                <img src="/images/adidas-forum.jpg" alt="primera imagen destacada">
            </div>
            <div class="bottom-img">
                <img src="/images/nike-jordan.jpg" alt="segunda imagen destacada">
            </div>
            <div class="bottom-img">
                <img src="/images/conver-chuck70.jpg" alt="tercer imagen destacada">
            </div>
            <div class="bottom-img">
                <img src="/images/nike-blazer.jpg" alt="cuarta imagen destacada">
            </div>
        </div>

        <div class="bottom-product-name">
            <p>Adidas Forum Mid</p>
            <p>Nike Air Jordan 1 Retro Hi OG "Yellow Toe"</p>
            <p>Converse Chuck 70 Low Tonal Polyester</p>
            <p>Nike Blazer Low '77 Jumbo</p>
        </div>    

        <div class="bottom-product-price">
            <p>$35.000</p>
            <p>$42.500</p>
            <p>$29.000</p>
            <p>$32.500</p>
        </div> 
    </main>
    <footer>
        <div class="group-1">
            <div class="box">
                <figure>
                    <a href=""><img src="./images/logo-proyecto.png" alt=""></a>
                </figure>
            </div>
            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, officiis.</p>
            </div>
            <div class="box">
                <h2>Navegación</h2>
                <div class="box-nav-list">
                    <a href="#"><p>Inicio</p></a>
                    <a href="#"><p>Productos</p></a>
                    <a href="#"><p>Perfil</p></a>
                    <a href="#"><p>Contactos</p></a>
                </div>
            </div>
            <div class="box">
                <h2>Seguinos</h2>
                <div class="media">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>

        <div class="grupo-2">
            <small>&copy; 2023 <b>Zapatillas</b> -Todos los derechos reservados</small>
        </div>
    </footer>
</body>
</html>
