<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="/css/form.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" 
    crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df0fd52d0d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        
        <div class="container">
            
            <div class="logo">
                <img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt="Logo de la marca">
            </div>

            <div class="btn">
                <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
            </div>
            
            <input type="checkbox" id="btn-menu">
            
            <nav class="menu">
                <input type="text" name="buscar" placeholder="Buscar...">
                <a href="/">Inicio</a>
                <a href="/register">Registrarse</a>
                <a href="/login">Iniciar Sesión</a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>

        </div>
    </header>  

    <!--formulario---->
    <form class="form">
        
        <!--titulo de la pag----->
        <h1 class="titulo">Registrarse</h1>
        
        <!--datos que se piden para el registro en cajas-------->
        <input class="box" type="text" placeholder="Nombre" required>
        <input class="box" type="text" placeholder="Apellido" required>
        <input class="box" type="email" placeholder="Email" required>
        <input class="box" type="password" placeholder="Password" required>
        
        <!--terminos chequear si al resto le parece ok?------->
        <p class="termino1"><input type="checkbox">  Estoy de acuerdo con <a class="termino2" href="">Terminos y Condiciones</a></p>
        
        <!--Boton-->
        <input type="submit" class="button" value="REGISTRAR">
        
        <!--redes--->
        <p class="redes-sociales"><a href="" class="redes-sociales"> Registrate con redes sociales</a></p>

        <div class="boxIcons">

    <a class="link" href="http://twitter.com"><div class="icons"> 
    <i class="fa-brands fa-twitter"></i></div></a> 
            
    <a class="link" href="http://twitter.com"><div class="icons"> 
    <i class="fa-brands fa-facebook"></i></div></a> 

    <a class="link" href="http://twitter.com"><div class="icons"> 
    <i class="fa-brands fa-instagram"></i></div></a> 

        
        </div>
        
    </form>

</body>
</html>
