<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping car</title>
    <link rel="stylesheet" href="carrito.css" type="text/css">

</head>

<body>
    <header id="header">
        <h1>Shopping car</h1>
        <img class="carrito"
            src="https://www.nicepng.com/png/detail/411-4119905_carrito-de-compra-carrito-del-super-dibujo.png"
            alt="carrito compras">

    </header>
    <div class="contenedor" id="contenedor">
    </div>
    <p align="center"><img src="zapas-vans-1.jpg" alt="producto 1">
    <div class="informacion">
        <p>Vans Old School</p>
        <p class="precio">$24.999<span>.99</span></p>
        <button>Comprar</button>
        <button>Anadir al carrito</button>
    </div>
    </div>
    <p align="center"><img src="adidas-forum.jpg" alt="producto 2">
    <div class="informacion">
        <p>Adidas Forum Mid</p>
        <p class="precio">$34.999<span>.99</span></p>
        <button>Comprar</button>
        <button>Anadir al carrito</button>
    </div>
    </div>
    <p align="center"><img src="conver-chuck70.jpg" alt="producto 3">
    <div class="informacion">
        <p>Converse Chuck 70 Low Tonal Polyester</p>
        <p class="precio">$28.999<span>.99</span></p>
        <button>Comprar</button>
        <button>Anadir al carrito</button>
    </div>
    </div>
    <p align="center"><img src="nike-blazer.jpg" alt="producto 4">
    <div class="informacion">
        <p>Nike Blazer Low '77 Jumbo</p>
        <p class="precio">$31.999<span>.99</span></p>
        <button>Comprar</button>
        <button>Anadir al carrito</button>
    </div>
    </div>
    <p align="center"><img src="nike-jordan.jpg" alt="producto 5">
    <div class="informacion">
        <p>Nike Air Jordan 1 Retro Hi OG "Yellow Toe"</p>
        <p class="precio">$41.999<span>.99</span></p>
        <button>Comprar</button>
        <button>Anadir al carrito</button>
    </div>

</body>

</html>