<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Términos y Condiciones - G3 Footwear</title>
    <link rel="stylesheet" href="/css/terms-conditions.css">
    <link rel="stylesheet" href="css/navAndFooter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" 
    crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df0fd52d0d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo_small_black.png">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="promotional-banner">
                <h4><b>Envíos gratis</b> en compras superiores a $20.000</h4>
            </div>
            <div class="header-navbar"> 
                <div class="left-navbar">
                    <div class="btn">
                        <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
                        <input type="checkbox" id="btn-menu">
                        <nav class="menu">
                            <input type="text" name="buscar" placeholder="Buscar...">
                            <a href="/">Inicio</a>
                            <hr>
                            <a href="/productDetail">Productos</a>
                            <hr>
                            <a href="/login">Iniciar Sesión</a>
                            <hr>
                            <a href="/register">Registrarse</a>
                            <hr>
                            <a href="/productCart">Carrito</a>
                            <hr>
                        </nav>
                    </div>
                </div>
                <div class="center-navbar">
                    <div class="header-logo">
                        <a href="/">
                            <img src="/images/logo_small.png" alt="">
                        </a>
                    </div>
                </div>  
                <div class="right-navbar">                  
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>    
            </div> 
        </div>
    </header>  

    <main>

    <img src="/images/en-construccion.png" alt="Página en construcción">

</main>
</body>

    <footer class="footer-section">
        <div class="group-1">
            
            <div class="box">
                <h2>Navegación</h2>
                <div class="box-nav-list">
                    <a href="/"><p>Inicio</p></a>
                    <a href="/productDetail"><p>Productos</p></a>
                    <a href="/login"><p>Inicia Sesión</p></a>
                    <a href="/register"><p>Registrarse</p></a>
                </div>
            </div>

            <hr>

            <div class="box">
                <h2>Contactanos</h2>
                <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
                <div class="contacts">
                    <a href="#">Correo Electrónico<i class="fa-solid fa-envelope"></i></a>
                    <a href="https://www.whatsapp.com">Whatsapp<i class="fa-brands fa-square-whatsapp"></i></a>
                    <a href="#">08000-111-1000<i class="fa-solid fa-phone"></i></a>
                </div>
            </div>
            
            <hr>
            
            <div class="box">
                <h2>Seguinos</h2>
                <div class="media">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>

        <hr>

        <div class="group-2">
            <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados. Las fotos contenidas en este sitio, el logotipo y las marcas son propiedad de www.wolfargentinadh.com.ar y/o de sus respectivos titulares.</small>
        </div>
    </footer>
</html>