<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Términos y Condiciones</title>
    <link rel="stylesheet" href="/css/terms-conditions.css">
    <link rel="stylesheet" href="css/navAndFooter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" 
    crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df0fd52d0d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        
        <div class="container">
            
            <div class="logo">
                <img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt="Logo de la marca">
            </div>

            <div class="btn">
                <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
            </div>
            
            <input type="checkbox" id="btn-menu">
            
            <nav class="menu">
                <input type="text" name="buscar" placeholder="Buscar...">
                <a href="/">Inicio</a>
                <a href="/register">Registrarse</a>
                <a href="/login">Iniciar Sesión</a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>

        </div>
    </header>  

    <main>

    <img src="/images/en-construccion.png" alt="Página en construcción">

</main>
</body>

<footer>
    <div class="group-1">
        <div class="logo-footer">
            <figure>
                <a href="/"><img src="./images/g3-high-resolution-logo-black-on-white-background_low.png" alt=""></a>
            </figure>
        </div>

        <div class="box">
            <h2>Navegación</h2>
            <div class="box-nav-list">
                <a href="/"><p>Inicio</p></a>
                <a href="/productDetail"><p>Productos</p></a>
                <a href="/login"><p>Inicia Sesión</p></a>
                <a href="/register"><p>Registrarse</p></a>
            </div>
        </div>
        <div class="box">
            <h2>Contactanos</h2>
            <p>Lunes a Viernes de 9 a 20 hs / Sábado de 9 a 17 hs</p>
            <div class="contacts">
                <a href="#"><i class="fa-solid fa-envelope"></i>Correo Electrónico</a>
                <a href="https://www.whatsapp.com"><i class="fa-brands fa-square-whatsapp"></i>Whatsapp</a>
                <a href="#"><i class="fa-solid fa-phone"></i>08000-111-1000</a>
            </div>
        </div>
        
        <div class="box">
            <h2>Redes Sociales</h2>
            <div class="media">
                <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>

    <div class="grupo-2">
        <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados</small>
    </div>
</footer>
</html>