*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*----------MAIN------------*/

.main-banner-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.img-banner {
    margin-top: 100px;
    display: block;
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 7.5vw;
    color: white;
    text-shadow: 0px 0px 7px rgb(152 152 152);     
}

main h1, main h2, main p {
    margin: 30px 10px 10px 10px;
    text-align: center;
    font-size: 18px;
}

/* section ofertas */

.section-title {
    font-size: xx-large;
    font-weight: 2000;
    padding: 40px 0;
}

.container-articles-1, .container-articles-2 {
    display: flex;
    flex-wrap: wrap;
}
.container-link-create{
    width: 100%;
}

.article {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article a{
    display: flex;
    justify-content: center;
}

.article p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.article-img {
    width: 80%;
    box-shadow: 0px 0px 7px rgb(152 152 152);
    transition: all .2s ease;
    margin-bottom: 5px;
}

.article-img:hover {
    transform: scale(1.05);
}

.article-name {
    width: 80%;
    font-weight: bold;
}

.article-a{
    width: 80%;
    text-decoration: none;
    color: #080705;
}

.edit-and-delete{
    text-align: center;
    display: flex;
}

.edit-and-delete button{
    padding: 2px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: #000;
    margin: 0 5px;
    border: 1px dotted #000;
}

.edit-button{
    background-color: #89cb88;  
}

.delete-button{
    background-color: #e63946a6;
}

.price {
    font-weight: bold;
    color: #E63946;
}

.discount {
    font-weight: bold;
    color: #5a8559;
}

.container-articles-2 {
    margin-bottom: 40px;
}

.collections-father {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.collection-first, .collection-second, .collection-third, .collection-fourth {
    display: inline-block;
    position: inherit;
}

.collection-img, .collection-img-2 {
    margin: 0 5%;
    width: 90%;
    padding: 0 0 35px;
}

.view-all-button {
    position: absolute;
    bottom: 8%;
    right: 7%;
    width: 25%;
    line-height: 40px;
    color: #080705;
    border: #778da9;
    border-radius: 5px;
    transition: all 0.2s ease;
    font-size: 16px;
}

.view-all-button {
    position: absolute;
    bottom: 8%;
    right: 7%;
    width: 25%;
    line-height: 40px;
    color: #080705;
    border: #778da9;
    border-radius: 5px;
    transition: all 0.2s ease;
    font-size: 16px;
}

.view-all-button:hover {
    background-color: #353535;
    color: #f3f1f1;
    transition: .2s;

}

.container-button-create{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.btn-buy {
    width: 50%;
    line-height: 40px;
    margin: 10px 0.35% 10px 0;
    color: #07020D;
    border: #778da9;
    border-radius: 2px;
    border-radius: 2px;
    transition: all 0.3s ease;
    font-size: 95%;
  }

  .btn-buy:hover {
    background-color: #353535;
    transition: 300ms;
    color: #f3f1f1;
  }

  .btn-buy a{
    text-decoration: none;
    color: #07020D;
  }

  .btn-buy:hover > a {
    color: #f3f1f1;
    transition: 300ms;
  }
  

.banner-register-home {
    width: 80%;
    margin: 5% 10%;
}

/*-------------MEDIA-QUERIES--------------*/

/* MOBILE */

@media (max-width: 360px) {
    
    .img-banner {
        margin-top: 75px;
    }

    .collection-img, .collection-img-2 {
        padding: 5px 0;
        width: 90%;
    }
}

/*TABLET*/

@media (min-width: 361px) and (max-width: 768px) {

    .article {
        width: 40%;
    }     
}

/*DESK*/

@media (min-width: 769px){

    .article{
        width: 25%;
    }
}

/* CUSTOM */

@media (min-width: 361px) and (max-width: 425px) {

    .view-all-button {
        bottom: 12%;
    }
}