* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}

main {
    text-align: center;
}

.login-form-container {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3C6E71, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 130px auto 30px;
    justify-content: center;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.login-text {
    font-size: x-large;
    padding-bottom: 25px;
    padding-top: 10%;
    color: #080705;
}

#input-login { 
    width: 80%;
    margin: 0 auto 20px;
    line-height: 40px;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: #778da9;
    border-radius: 2px;
    font-size: 14px;
}

#button-login {
    display: block;
    width: 80%;
    margin: -20px auto 0;
    line-height: 40px;
    color: #07020D;
    text-align: center;
    border: #778da9;
    border-radius: 2px;
    transition: all 0.3s ease;
    font-size: 16px;
}

#button-login:hover {
    background-color: #353535;
    color: #f3f1f1;
    transition: 500ms;
}

.link-login-form {
    color: #080705;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    transition: all .3s ease;
  }
  
.link-login-form:hover {
    color: #f3f1f1;
}

.forgot-password {
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #080705;
}

.login-with {
    margin-bottom: 2%;
    padding: 0 20px 10px;
    color: #080705;
}

.social-media-login-father {
    padding-top: 5px;
    margin-bottom: 2%;
}

#login-instagram, #login-twitter, #login-google {
    margin-left: 10%;
}

#login-facebook, #login-instagram, #login-twitter, #login-google {
    color: #07020D;
    transition: all .3s ease;
    font-size: 20px;
}

#login-facebook:hover, #login-instagram:hover, #login-twitter:hover, #login-google:hover {
    color: #f3f1f1;
}

.register-text {
    display: inline-block;
    padding-bottom: 10%;
    padding-top: 30px;
    color: #080705;
}

.feedback {
    color:#353535;
}

/*-------------MEDIA-QUERIES--------------*/

/* MOBILE */

@media (max-width: 360px) {
    
    .login-form-container {
        margin-top: 100px; 
        margin-bottom: 30px;
    }
}