* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-container{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 40%);
}

.promotional-banner{
    font-size: 14px;
    text-align: center;
    background-color: #3C6E71;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.promotional-banner h4{
    font-weight: 500;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #353535;
    height: 50px;
}

.left-navbar{
    display: flex;
    margin-left: 1vw;
}

.btn{
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    display: block;
}

.btn i{
    color: #FFFFFA;
    cursor: pointer;
    position: relative;
}

.center-navbar{
    display: flex;
}

.header-logo img{
    width: 75px;
}

.right-navbar{
    display: flex;
    align-items: center;
}

.right-navbar i{
    color: #ffffff;
    padding: 8px;
    cursor: pointer;
}

.search-bar{
    height: 30px;
    display: flex;
    cursor: pointer;
    margin-right: 3vw;
}

.search-bar:hover input{
    width: 140px;
}

.search-bar input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    border-radius: 8px;
    background-color: #ffffff;
    height: 30px;
}


.menu{
    position: absolute;
    background: #D9D9D9;
    padding: 10px;
    width: 100%;
    height: 100vh;
    top: 75.5px;
    left: 0;
    transition: all 0.5s ease;
    transform: translateX(-100%);
    box-shadow: 0px 1px 10px rgb(0 0 0 / 40%);
}

.menu a{
    display: block;
    margin-top: 10px;
    color: #080705;
    padding: 15px;
    line-height: normal;
    font-size: 16px;
    transition: all 0.5s ease;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

.menu a:hover{
    color: #858583;
}

.menu input{
    display: none;
}

#btn-menu{
    display: none;
}

#btn-menu:checked ~ .menu{
    transform: translateX(0%);
    width: 75%;
}

/*-----FOOTER-----*/

.footer-section{
    width: 100%;
    background-color: #D9D9D9;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 40%);
}

.group-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.group-1 a{
    text-decoration: none;
    color: #242423;
    margin-bottom: 4px;
}

.box{
    margin: 30px;
}

.box h2{
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 10px;
}

.box p{
    font-size: 14px;
    margin-bottom: 1vh;
}

.box a:hover{
    color: #858583;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts i{
    margin-left: 10px;
}

.media a{
    margin-right: 4px;
    font-size: 20px;
}

.group-2{
    display: flex;
    padding: 15px;
}

.group-2 small{
    text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 575px) {
    .promotional-banner{
        font-size: 18px;
    }

    .search-bar:hover input{
        width: 300px;
    }
    
    .group-1{
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
    }
}


@media (min-width: 768px) and (max-width: 2500px) {

    /*-----HEADER-----*/
    
    .search-bar:hover input{
        width: 500px;
    }

    .btn label{
        display: none;
    }

    .menu{
        height: 25px;
        transition: none;
        transform: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFA;
    }

    .menu hr{
        display: none;
    }

    .menu a{
        margin-top: 0;
        border-bottom: none;
    }

    #btn-menu:checked ~ .menu{
        width: 50%;
    }

    .center-navbar{
        position: absolute;
        left: 4.5vw;
    }

    .search-bar input{
        width: 500px;
        border-radius: 0;
    }
}

@media (min-width: 1024px) {
    /*-----NAVBAR-----*/
    
    .search-bar input{
        width: 600px;
        border-radius: 0;
    }

    /*-----FOOTER-----*/

    .box h2{
        font-size: 18px;
    }

    .box p{
        font-size: 18px;
    }

    .group-1 a{
        font-size: 18px;
    }
}

