*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    margin-top: 100px;
    margin-bottom: 40px;
}

.product-content{
    padding: 15px;
}

.row-path{
    margin-bottom: 10px;
}

.row-path a{
    text-decoration: none;
    color: #acacac;
    font-size: 12px;
}

.main-product-name{
    margin: 10px 0;
}

.main-product-prices{
    margin: 10px 0;
    display: flex;
}

.product-rating i{
    color: #fdbf4d;
}

.main-product-oldPrice p{
    margin-right: 10px;
    text-decoration: line-through;
}

.main-product-newPrice p{
    color: #e32b2b;
    font-weight: 600;
}

.main-product-image2{
    display: none;
}

.images-container2{
    display: none;
}

.images-container3{
    display: none;
}

.main-product-image img{
    width: 100%;
    box-shadow: 0px 0px 3px rgb(152 152 152);
}

.main-product-image-small{
    transition: all 0.5s ease;
    cursor: pointer;
}

.main-product-image-small:hover{
    transform: scale(1.2);
}

.payments{
    margin: 10px 0;
}

.payments p{
    font-size: 12px;
    color: #5a8559;
    font-weight: 500;
}

.product-size{
    margin: 20px 0;
    font-size: 14px;
}

.size-selector-box{
    width: 140px;
    height: 30px;
}

.product-quantity{
    display: flex;
    margin: 20px 0;
}

.product-quantity p{
    font-size: 14px;
}

.product-detail{
    margin-top: 30px;
}

.product-detail p{
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.quantity-counter{
    margin: 0 10px;
    width: 30px;
}

.product-description{
    margin: 10px 0;
}

.product-description p{
    font-size: 12px;
}

.add-to-cart{
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.add-to-cart button{
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #284B63;
    display: flex;
    align-items: center;
}

.add-to-cart button:hover{
    background-color: #4280aa;
}

.add-to-cart p{
    width: 150px;
}

.edit-and-delete{
    text-align: center;
    margin: 30px;
}

.edit-and-delete button{
    padding: 8px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: white;
}

.edit-button{
    background-color: #5a8559;
}

.delete-button{
    background-color: #e63946a6;
}

.purchase-benefits{
    margin: 20px 0;
    font-size: 14px;
}

.purchase-benefits i{
    margin: 3vh 2vw 3vh 0;
    color: #5a8559;
}

.shipping{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.shipping-description p{
    display: none;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cards-description{
    display: none;
}

.returns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.returns-description{
    display: none;
}

.featured-products{
    font-weight: 500;
    margin-top: 30px;
}

.featured-products-images{
    display: flex;
    margin-top: 20px;
}

.featured-products-images p{
    font-weight: 500;
}

.bottom-img{
    width: 50%;
    text-align: center;
}

.bottom-img img{
    width: 40vw;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 3px rgb(152 152 152);
}

.bottom-img img:hover{
    transform: scale(1.05);
}

.bottom-img a{
    text-decoration: none;
    color: black;
}

.bottom-img span{
    display: none;
}

.bottom-main-hidden{
    display: none;
}

.bottom-product-price{
    display: flex;
    justify-content: space-around;
}

.bottom-product-price p{
    width: 50%;
    text-align: center;
    color: #E63946;
    font-weight: 500;
}

@media (min-width: 768px) and (max-width: 2500px){
    /*-----MAIN SECTION-----*/

    .main-section{
        padding: 10px;
    }
    
    .top--main{
        display: flex;
    }

    .left{
        width: 65%;
        padding: 10px;
    }

    .right{
        width: 35%;
        padding: 15px;
    }

    .row-path a{
        font-size: 14px;
    }

    .main-product-name{
        margin: 20px 0;
    }
    
    .main-product-name h1{
        font-size: 40px;
    }

    .main-product-prices{
        margin: 20px 0;
    }

    .main-product-prices p{
        font-size: 20px;
    }

    .payments{
        margin: 20px 0;
    }
    
    .images-container{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .images-container img{
        width: 100%;
        box-shadow: 0px 0px 3px rgb(152 152 152);
    }
    
    .main-product-image{
        width: 49%;
    }

    .main-product-image2{
        width: 49%;
        display: inline-block;
    }

    .images-container2{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .images-container2 img{
        width: 100%;
        box-shadow: 0px 0px 3px rgb(152 152 152);
    }

    .main-product-image3{
        width: 49%;
    }

    .main-product-image4{
        width: 49%;
        display: inline-block;
    }

    .images-container3{
        display: flex;
        margin: 10px 0;
        align-items: center;
    }

    .images-container3 img{
        width: 100%;
        box-shadow: 0px 0px 3px rgb(152 152 152);
        padding: 5px;
    }

    .main-product-image-small{
        width: 100%;
        display: inline-block;  
    }

    .payments p{
        font-size: 14px;
    }

    .size-selector-box{
        width: 100%;
        height: 39px;
    }

    .product-quantity p {
        font-size: 17px;
    }
    
    .quantity-counter{
        width: 35px;
        height: 22px;
    }

    .product-detail p{
        font-size: 17px;
    }

    .product-description p{
        font-size: 14px;
    }

    .add-to-cart p{
        width: 190px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
    
    .purchase-benefits{
        display: flex;
        font-size: 16px;
        margin: 50px 0 20px;
        justify-content: center;
    }

    .purchase-benefits p{
        font-size: 18px;
    }

    .purchase-benefits i{
        font-size: 20px;
        margin: 3vh 0;
    }

    .purchase-benefits hr{
        display: none;
    }

    .purchase-benefits-text{
        display: flex;
        margin-bottom: 50px;
    }

    .purchase-benefits-text p{
        color: #666565;
    }

    .shipping{
        width: 33%;
        display: block;
        text-align: center;
    }

    .shipping-description{
        width: 33%;
        text-align: center;
        font-size: 14px;
    }
    

    .shipping-description P{
        display: block;
    }

    .cards{
        width: 33%;
        display: block;
        text-align: center;
    }

    .cards-description{
        width: 33%;
        display: block;
        text-align: center;
    }

    .returns{
        width: 33%;
        display: block;
        text-align: center;
    }

    .returns-description{
        display: block;
        width: 33%;
        text-align: center;
        font-size: 14px;
    }

    .bottom-main-1{
        display: flex;
    }

    .bottom-main-hidden{
        display: flex;
    }
    
    .featured-products-images{
        width: 50%;
    }

    .bottom-img img{
        width: 90%;
    }

    .bottom-img span{
        display: block;
        color: #E63946;
        font-weight: 500;
    }

    .bottom-product-price{
        display: none;
    }
}

@media (min-width: 1024px){
    /*-----MAIN SECTION-----*/
    
    .main-product-name h1 {
        font-size: 45px;
    }

    .product-rating i {
        font-size: larger;
    }

    .main-product-prices p{
        font-size: 22px;
    }

    .payments p {
        font-size: 16px;
    }

    .size-selector-box {
        height: 50px;
    }

    .product-quantity p {
        font-size: 20px;
    }

    .product-detail p {
        font-size: 20px;
    }

    .product-description p {
        font-size: 16px;
    }

    .add-to-cart p{
        font-size: 18px;
    }
}