* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';   
}

main{
    margin: 0 15px;
}

body {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form {
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3C6E71, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 130px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.titulo {
    color: #080705;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.box-form {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    border: none;
    border-left: 10px solid #d9e4ea;
    transition: all .5s ease;
    font-size: 12px;
}

.box-form:hover, .box-form:focus {
    border-left: 10px solid #3C6E71;
}

.termino1 {
    text-align: center;
    color: #080705;
    font-size: 12px;
}

.termino2 {
    color: #080705;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: all .5s ease;
}

.termino2:hover {
    color: #f3f1f1;
}

.button {
    display: block;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    margin: 20px auto;
    font-size: 16px;
    color: #080705;
    border: #778da9;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s ease;
} 

.button:hover {
    background: #353535;
    color: #f3f1f1;
}

.button:hover > a {
    color: #f3f1f1;
} 

.redes-sociales{
    text-align: center;
    color: #080705;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10px;
}

.boxIcons {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding-top: 10px;
}

.icons {
    transition: all .3s ease;
    color:#080705;
    padding-top: 5px;
}

.icons:hover {
    color: #f3f1f1;
}

.link {
    text-decoration: none;
    color: #080705;
}

.feedback, .feedback-tac {
    color:#f3f1f1;
  }

  .feedback {
    font-size: smaller;
    margin: -4% auto 3%;
    text-align: left;
  }

  .feedback-tac {
    font-size: x-small;
    margin: 4% auto 2%;
    text-align: center;
  }

.fa-circle-exclamation{
    margin-right: 3px;
 } 

/* MEDIA QUERIES */

/* MOBILE */

@media (max-width: 360px) {
    
    .form {
        margin-top: 100px;
        margin-bottom: 30px;
    }
}
    