<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>G3 Footwear</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/navAndFooter.css">
    <link rel="icon" href="/images/logo_small_black.png">
    </head>

    <body>

      <%-include('./partials/header.ejs')%>

    <main>
      <section>
        <div class="main-banner-container">
          <img src="/images/banner.jpg" alt="banner" class="img-banner">
        <div class="banner-text-container"><h1 class="banner-text">Bienvenido a G3 Footwear</h1></div>
        </div>
      </section>

      <section>
        <h2 class="section-title">LO QUE MARCA TENDENCIA</h2>
        <div class="container-articles-1">
          <div class="article">
            <img class="article-img" src="/images/adidas-forum.jpg" alt="" />
            <p class="article-name">ADIDAS FORUM MID</p>
            <p class="price">$$35.000</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/nike-jordan.jpg" alt="" />
            <p class="article-name">NIKE AIR JORDAN 1 RETRO HI OG "YELLOW TOE"</p>
            <p class="price">$42.500</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/conver-chuck70.jpg" alt="" />
            <p class="article-name">CONVERSE CHUCK 70 LOW TONAL POLYESTER</p>
            <p class="price">$32.500</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/nike-blazer.jpg" alt="" />
            <p class="article-name">NIKE BLAZER LOW '77 JUMBO</p>
            <p class="price">$29.000</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/puma-zapas.jpg" alt="" />
            <p class="article-name">PUMA SUEDE CLASSIC XXI</p>
            <p class="price">$28.000</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/saucony-zapas.jpg" alt="" />
            <p class="article-name">SAUCONY SHADOW 6000</p>
            <p class="price">$32.000</p>
            </div>
            <div class="article">
              <img class="article-img" src="/images/puma-slipstream.jpg" alt="" />
              <p class="article-name">PUMA SLIPSTREAM</p>
              <p class="price">$30.000</p>
            </div>
            <div class="article">
              <img class="article-img" src="/images/reebok-question-low.avif" alt="" />
              <p class="article-name">REEBOK QUESTION LOW</p>
              <p class="price">$31.000</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">SI BUSCAS DESCUENTOS</h2>
        <div class="container-articles-2">
          <div class="article">
            <img class="article-img" src="/images/adidas-forum.jpg" alt="" />
            <p class="article-name">ADIDAS FORUM MID</p>
            <p class="price">$$35.000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/nike-jordan.jpg" alt="" />
            <p class="article-name">NIKE AIR JORDAN 1 RETRO HI OG "YELLOW TOE"</p>
            <p class="price">$42.500</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/conver-chuck70.jpg" alt="" />
            <p class="article-name">CONVERSE CHUCK 70 LOW TONAL POLYESTER</p>
            <p class="price">$32.500</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/nike-blazer.jpg" alt="" />
            <p class="article-name">NIKE BLAZER LOW '77 JUMBO</p>
            <p class="price">$29.000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/puma-zapas.jpg" alt="" />
            <p class="article-name">PUMA SUEDE CLASSIC XXI</p>
            <p class="price">$28.000</p>
            <p class="discount">40% OFF</p>
          </div>
          <div class="article">
            <img class="article-img" src="/images/saucony-zapas.jpg" alt="" />
            <p class="article-name">SAUCONY SHADOW 6000</p>
            <p class="price">$32.000</p>
            <p class="discount">40% OFF</p>
            </div>
            <div class="article">
              <img class="article-img" src="/images/puma-slipstream.jpg" alt="" />
              <p class="article-name">PUMA SLIPSTREAM</p>
              <p class="price">$30.000</p>
              <p class="discount">40% OFF</p>
            </div>
            <div class="article">
              <img class="article-img" src="/images/reebok-question-low.avif" alt="" />
              <p class="article-name">REEBOK QUESTION LOW</p>
              <p class="price">$31.000</p>
              <p class="discount">40% OFF</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">NUESTRAS COLECCIONES</h2>
        <div class="collections-father">
          <div class="collection-first">
          <img src="/images/collection1.png" alt="collection1" class="collection-img"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button"></a>
          </div>
          <div class="collection-second">
          <img src="/images/collection2.png" alt="collection2" class="collection-img"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button"></a>
          </div>
          <div class="collection-third">
          <img src="/images/collection3.png" alt="collection3" class="collection-img-2"></a>
          <a href="#"></a><input type="button" value="Ver todos" class="view-all-button"></a>
          </div>
          <div class="collection-fourth">
          <img src="/images/collection4.png" alt="collection4" class="collection-img-2"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button"></a>
          </div>
        </div>
      </section>

      <section>
        <div class="register-container">
          <a href="/register"><img src="/images/registrate-gratis-home.png" alt="banner-register" class="banner-register-home"></a>
        </div>
      </section>
    </main>
    <%- include('./partials/footer'); %>
  </body>
</html>
