<footer class="footer-section">
<div class="group-1">
        
    <div class="box">
        <h2>Navegaci칩n</h2>
        <div class="box-nav-list">
            <a href="/"><p>Inicio</p></a>
            <a href="/products"><p>Productos</p></a>
            <a href="/users/login"><p>Inicia Sesi칩n</p></a>
            <a href="/users/register"><p>Registrarse</p></a>
        </div>
    </div>

    <hr>

    <div class="box">
        <h2>Contactanos</h2>
        <p>Lunes a Viernes de 9 a 20 hs / S치bado de 9 a 17 hs</p>
        <div class="contacts">
            <a href="#">Correo Electr칩nico<i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.whatsapp.com">Whatsapp<i class="fa-brands fa-square-whatsapp"></i></a>
            <a href="#">08000-111-1000<i class="fa-solid fa-phone"></i></a>
        </div>
    </div>
    
    <hr>
    
    <div class="box">
        <h2>Seguinos</h2>
        <div class="media">
            <a href="https://www.facebook.com" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com" class="fa fa-instagram"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter"></a>
            <a href="https://www.youtube.com" class="fa fa-youtube"></a>
        </div>
    </div>
</div>

<hr>

<div class="group-2">
    <small>&copy; 2023 <b>G3 Footwear</b> -Todos los derechos reservados. Las fotos contenidas en este sitio, el logotipo y las marcas son propiedad de www.wolfargentinadh.com.ar y/o de sus respectivos titulares.</small>
</div>
</footer>