<header>
    <div class="header-container">
        <div class="promotional-banner">
            <h4><b>Envíos gratis</b> en compras superiores a $20.000</h4>
        </div>
        <div class="header-navbar">   
            <div class="left-navbar">
                <div class="btn">
                    <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
                    <input type="checkbox" id="btn-menu">
                    <nav class="menu">
                        <input type="text" name="buscar" placeholder="Buscar...">
                        <a href="/">Inicio</a>
                        <hr>
                        <a href="/products">Productos</a>
                        <hr>
                        <% if (locals.userLogged) { %>
                        <a href="/users/profile">Mi perfil</a>
                        <hr>
                        <a href="/users/logout">Cerrar Sesión</a>
                        <hr>
                        <%  } else { %>
                        <a href="/users/login">Iniciar Sesión</a>
                        <hr>
                        <a href="/users/register">Registrarse</a>
                        <hr>
                        <% } %>
                        <a href="/products/productCart">Carrito</a>
                        <hr>
                    </nav>
                </div>
            </div> 
            <div class="center-navbar">
                <div class="header-logo">
                    <a href="/">
                        <img src="/images/logo_small.png" alt="">
                    </a>
                </div>
            </div>  
            <div class="right-navbar">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos, marcas...">
                    <a href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>