<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>G3 Footwear</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home&catalog.css" />
    <link rel="stylesheet" href="css/navAndFooter.css">
    <link rel="icon" href="/images/logo_small_black.png">
    </head>

    <body>

      <%-include('../partials/header.ejs')%>

    <main>
      <section>
        <div class="main-banner-container">
          <img src="/images/page-banner.avif" alt="banner" class="img-banner">
        <!-- <div class="banner-text-container"><h1 class="banner-text">Bienvenido a G3 Footwear</h1></div> -->
        </div>
      </section>

      <div class="homePageExtraInfoContainer">
        <div class="homePageExtraInfo">
            <a href="#">
                <i class="fa-solid fa-rotate"></i>
                <span>
                    CAMBIO Y DEVOLUCIÓN
                    <br>
                    GRATIS A TODO EL PAÍS
                </span>
            </a>
            <a href="#">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <span>
                    DESCARGÁ NUESTRA APP
                    <br>
                    ANDROID y IOS
                </span>
            </a>
            <a href="#">
                <i class="fa-solid fa-tag"></i>
                <span>
                    MÁS DE 100 MARCAS
                    <br>
                    LOCALES E INTERNACIONALES
                </span>
            </a>
            <a href="#">
                <i class="fa-solid fa-credit-card"></i>
                <span>
                    FINANCIACIÓN
                    <br>
                    3 Y 6 CUOTAS SIN INTERÉS
                </span>
            </a>
        </div>
    </div>

      <section>
        <h2 class="section-title">LO QUE MARCA TENDENCIA</h2>
        <div class="container-articles-1">
          <div class="article">
            <a href="/products/9"><img class="article-img" src="/images/products/adidas-forum-mid-1.avif" alt="" /></a>
            <p class="article-name">ADIDAS FORUM MID</p>
            <p class="price">$35.000</p>
          </div>
          <div class="article">
            <a href="/products/3"><img class="article-img" src="/images/products/nike-air-jordan-1.avif" alt="" /></a>
            <p class="article-name">NIKE AIR JORDAN 1 RETRO</p>
            <p class="price">$42.500</p>
          </div>
          <div class="article">
            <a href="/products/4"><img class="article-img" src="/images/products/converse-chuck70-1.avif" alt="" /></a>
            <p class="article-name">CONVERSE CHUCK 70 LOW</p>
            <p class="price">$32.500</p>
          </div>
          <div class="article">
            <a href="/products/6"><img class="article-img" src="/images/products/nike-blazer-low-1.avif" alt="" /></a>
            <p class="article-name">NIKE BLAZER LOW '77 JUMBO</p>
            <p class="price">$29.000</p>
          </div>
          <div class="article">
            <a href="/products/5"><img class="article-img" src="/images/products/puma-suede-1.avif" alt="" /></a>
            <p class="article-name">PUMA SUEDE CLASSIC XXI</p>
            <p class="price">$28.000</p>
          </div>
          <div class="article">
            <a href="/products/7"><img class="article-img" src="/images/products/saucony-shadow-1.avif" alt="" /></a>
            <p class="article-name">SAUCONY SHADOW 6000</p>
            <p class="price">$32.000</p>
            </div>
            <div class="article">
              <a href="/products/8"><img class="article-img" src="/images/products/puma-slipstream-1.avif" alt="" /></a>
              <p class="article-name">PUMA SLIPSTREAM</p>
              <p class="price">$30.000</p>
            </div>
            <div class="article">
              <a href="/products/10"><img class="article-img" src="/images/products/reebok-question-low-1.avif" alt="" /></a>
              <p class="article-name">REEBOK QUESTION LOW</p>
              <p class="price">$31.000</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">SI BUSCAS DESCUENTOS</h2>
        <div class="container-articles-2">
          <div class="article">
            <a href="/products/14"><img class="article-img" src="/images/products/reebok-pump-1.avif" alt="" /></a>
            <p class="article-name">REEBOK PUMP OMNI ZONE II</p>
            <p class="price">$45.000</p>
            <p class="discount">10% OFF</p>
          </div>
          <div class="article">
            <a href="/products/2"><img class="article-img" src="/images/products/adidas-NMD-1.avif" alt="" /></a>
            <p class="article-name">ADIDAS NMD_V3</p>
            <p class="price">$37.000</p>
            <p class="discount">20% OFF</p>
          </div>
          <div class="article">
            <a href="/products/15"><img class="article-img" src="/images/products/nike-air-huarache-1.avif" alt="" /></a>
            <p class="article-name">NIKE AIR HUARACHE</p>
            <p class="price">$41.500</p>
            <p class="discount">15% OFF</p>
          </div>
          <div class="article">
            <a href="/products/16"><img class="article-img" src="/images/products/jordan-ES-1.avif" alt="" /></a>
            <p class="article-name">JORDAN SERIES ES</p>
            <p class="price">$29.000</p>
            <p class="discount">20% OFF</p>
          </div>
          <div class="article">
            <a href="/products/1"><img class="article-img" src="/images/products/zapas-vans-1.jpg" alt="" /></a>
            <p class="article-name">VANS OLD SKOOL</p>
            <p class="price">$24.999</p>
            <p class="discount">15% OFF</p>
          </div>
          <div class="article">
            <a href="/products/11"><img class="article-img" src="/images/products/reebok-club-1.avif" alt="" /></a>
            <p class="article-name">REEBOK CLUB C85</p>
            <p class="price">$28.000</p>
            <p class="discount">20% OFF</p>
            </div>
            <div class="article">
              <a href="/products/12"><img class="article-img" src="/images/products/nike-air-max-1.avif" alt="" /></a>
              <p class="article-name">NIKE AIR MAX TW</p>
              <p class="price">$34.000</p>
              <p class="discount">10% OFF</p>
            </div>
            <div class="article">
              <a href="/products/13"><img class="article-img" src="/images/products/asics-gel-quantum-1.avif" alt="" /></a>
              <p class="article-name">ASICS GEL-QUANTUM 180 VII</p>
              <p class="price">$29.000</p>
              <p class="discount">20% OFF</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">NUESTRAS COLECCIONES</h2>
        <div class="collections-father">
          <div class="collection-first">
          <img src="/images/collection1.png" alt="collection1" class="collection-img"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button"></a>
          </div>
          <div class="collection-second">
          <img src="/images/collection2.png" alt="collection2" class="collection-img"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button"></a>
          </div>
          <div class="collection-third">
          <img src="/images/collection3.png" alt="collection3" class="collection-img-2"></a>
          <a href="#"></a><input type="button" value="Ver todos" class="view-all-button"></a>
          </div>
          <div class="collection-fourth">
          <img src="/images/collection4.png" alt="collection4" class="collection-img-2"></a>
          <a href="#"><input type="button" value="Ver todos" class="view-all-button"></a>
          </div>
        </div>
      </section>

      <section>
        <div class="register-container">
          <a href="/users/register"><img src="/images/registrate-gratis-home.png" alt="banner-register" class="banner-register-home"></a>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
