<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi perfil</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/navAndFooter.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" href="/images/logo_small_black.png">
    </head>

<body>
    <%-include('../partials/header.ejs')%>
    <main>
      <div class="mainProfileSection">
        <div class="welcomeMessage">
          <h2>Hola, Luciano</h2>
        </div>
        
        <div class="profileImg">
          <input type="file"><img src="/images/users/admin-profile.png" alt="Imagen de perfil">
        </div>

        <div class="userData">
          <form class="userDataForm" action="" method="">
            <p>Datos de cuenta  </p>
            <input type="text" placeholder="ID de Usuario">
            <input type="text" placeholder="Tipo de Usuario">
            <p>Datos personales</p>
            <input type="text" placeholder="Nombre  ">
            <input type="text" placeholder="Apellido">
            <input type="password" placeholder="Contraseña">
            <input type="email" placeholder="Email">
          </form>

        </div>
        <div class="buttons">
          <button class="cancelButton">Cancelar</button>
          <button class="saveButton">Guardar</button>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>